[submodule "lib/threaded-library"]
	path = lib/threaded-library
	url = ../threaded-library.git
[submodule "lib/v-hydro"]
	path = lib/v-hydro
	url = ../v-hydro.git
[submodule "lib/openscad-slicer-makefile"]
	path = lib/openscad-slicer-makefile
	url = ../openscad-slicer-makefile.git
